
@media screen and (min-width:320px){
    html{
        font-size: 10px; !important;

    }
}

@media screen and (min-width:480px){
    html{
        font-size: 10px; !important;

    }
}
@media screen and (min-width:768px){
    html{
        font-size: 10px;!important;

    }
}
@media screen and (min-width:960px){
    html{
        font-size: 12px;!important;

    }
}



.uk-navbar{
    background-color: #00b4f5;

}
.uk-navbar{
    background-color: #00b4f5;

}
.uk-navbar-brand,.uk-navbar ul li a{
    color: white;

}
.uk-navbar ul li a:hover{
    background-color: #0593d3;;

}
.uk-navbar-nav>li.uk-active>a {
    background-color: #0593d3;;
    color: white;
}
@media (min-width: 1440px){
    .uk-container {
        max-width: 1400px;
        padding: 0 35px;
    }
}

body{
    background-color: #e2e2e2;
}